name: Release BeautifulLib Package to GitHub Packages Registry

on:
  release:
    types: [created]
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: pwd
      - run: ls


  publish-gpr:
    # if: github.event.pull_request.merged == true || github.ref == 'refs/head/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
          scope: '@myrdlab'
      - run: ls
      - run: pwd
      - run: cd dist/beautiful-lib && npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
